<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/classIn.css' />
  </head>
  <body>
    <div class="header">
        <img src="/images/logo.png" onClick="location.href='/'"  alt="Avatar" class="avatars">
        <a class="menu1" style="width:auto;" >클래스 참여하기</a>
        <a class="menu2"style="width:auto;" >클래스 만들기</a>
        <a class="menu3" onClick="location.href='/myClass'">내 클래스</a>
        <span class="name"><b><%= name %></b> 님</span>
        <button type="button" id="logout">로그아웃</button>
    </div>
        <h2 class="class_name"><%=val.class_name %> </h2>
        <a class="teacher_name_text"><%=val.teacher_name %> 선생님이 진행하는 수업입니다.</a>
        <a class="class_name_text"><%= val.className %></a>
        <a id="classCode">수업코드 : <%= val.user_code%></a>

        <!-- isStudent: 학생인지 선생님인지 구분하는 변수 classin.js에 임시로 추가해둠, 수정 필요!!!!!!!!!!!!!! -->
        <% if(!isStudent) {%>
          <button id="classIn_button" type="button" onclick="location.href='/choose'">실시간 수업 참여하기</button>
        <% }else{ %>
          <button id="classIn_button" type="button" onClick="document.getElementById('startClass').style.display='block'" style="width:auto;">실시간 수업 시작하기</button>
        <% } %>

    <!-- 클래스 리스트 -->
    <a style="position: absolute; left: 14%; top: 487px; font-size: 35px; font-style: normal; font-weight: bold; text-align: left; color: #975AB4;">지금까지 진행된 수업</a>
    <div class="down">
      <table class="lists">
          <colgroup>
          <col width="55%">
          <col width="45%">
        </colgroup>
          <thead style="border-bottom: 3px solid #797979;">
            <tr>
              <th scope="col" >수업 이름</th>
              <th scope="col">수업 일자</th>
            </tr>
          </thead>
          <tbody>
            
            <% list.forEach(function(val){ %>
              <tr id= 'item'  style="cursor: pointer;">
                <td class="class_name"><%=val.className%></td>
                <td class="date"><%=val.classDate%></td>
              </tr>
            <% }) %>
           
          </tbody>
        </table>
    </div>
    <div id="startClass" class="blur">
        <div class="modal">
          <div id="startClass_text">클래스 시작하기</div>
          <form class="modal-content animate" action="/choose" method="GET">
            <div class="container">
              <input type="text" placeholder="수업 이름(필수)" name="className" required></br>
              <div class="button_container"> 
                <button type="button" onclick="document.getElementById('startClass').style.display='none'" id="cancel_button">취소</button>
                <button type="submit" id='startClass_button' onclick="document.getElementById('joinClass_code').style.display='none'">만들기</button>
              </div>
            </div>
          </div>
        </form>
      </div>

  <footer>
    <div class="inner-footer">
      <div class="left-footer">
        <a class="logo" href="/">
          <img class="web" src="/images/LOGO.png">
        </a>
        <p class="teamname">Team - KH</p>
        <p class="copyright">Copyright © HandsUp</p>
       </div>
       <div class="right-footer">
          <a class="github" href="https://github.com/111111022/KH_project.git">
            <img class="githubpic" src="/images/github.png">
          </a>
          <a class="agree1">이용약관</p>
          <a class="agree2">개인정보처리방침</p>
          <a class="agree3">문의하기</p>
       </div>
      </div>
    </div>
  </footer>

  </body>
</html>
